@charset "UTF-8";

body{
    background-color:lightblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1{
    color: blue;
    background-color: lightcoral;
}

h2{

    color: darkred;
}