@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #2C15BF, #7E9BF2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0D0F40;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F20574;
    text-align: center;
}

h2{
    color: #F28E13;
}

p {
    text-align: justify;
}